@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  animation: fadeIn 1.5s ease-in-out;
}

.font500 {
  font-weight: 500;
}

.font300 {
  font-weight: 300;
}

.font800 {
  font-weight: 800;
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}







/* styles.css */


/* styles/globals.css */
/* styles/globals.css */
.logo {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(90deg, #1f68f9 0%, #333230 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
  animation: fadeIn 1.5s ease-in-out;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* global.css */
nav {
  background-color: rgba(255, 255, 255, 0.3);
  /* Fallback color */
  backdrop-filter: blur(8px);
  /* Ensure this is supported */
  -webkit-backdrop-filter: blur(8px);
  /* For Safari */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Fallback border */
}